@charset "UTF-8";
/* line 2, scss/main.css */
* {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px; }

/* line 9, scss/main.css */
.container {
  max-width: 1170px;
  margin: 0 auto; }

/* line 13, scss/main.css */
.row::after, .row::before {
  display: table;
  content: '';
  clear: both; }

/* line 18, scss/main.css */
.col-1 {
  width: 8.33333%; }

/* line 21, scss/main.css */
.col-2 {
  width: 16.66667%; }

/* line 24, scss/main.css */
.col-3 {
  width: 25%; }

/* line 27, scss/main.css */
.col-4 {
  width: 33.33333%; }

/* line 30, scss/main.css */
.col-5 {
  width: 41.66667%; }

/* line 33, scss/main.css */
.col-6 {
  width: 50%; }

/* line 36, scss/main.css */
.col-7 {
  width: 58.33333%; }

/* line 39, scss/main.css */
.col-8 {
  width: 66.66667%; }

/* line 42, scss/main.css */
.col-9 {
  width: 75%; }

/* line 45, scss/main.css */
.col-10 {
  width: 83.33333%; }

/* line 48, scss/main.css */
.col-11 {
  width: 91.66667%; }

/* line 51, scss/main.css */
.col-12 {
  width: 100%; }

/* line 54, scss/main.css */
[class*='col-'] {
  float: left;
  min-height: 1px;
  border: 1px solid red;
  padding: 10px; }

@font-face {
  font-family: 'weathericons';
  src: url("../font/weathericons-regular-webfont.eot");
  src: url("../font/weathericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/weathericons-regular-webfont.woff2") format("woff2"), url("../font/weathericons-regular-webfont.woff") format("woff"), url("../font/weathericons-regular-webfont.ttf") format("truetype"), url("../font/weathericons-regular-webfont.svg#weather_iconsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 67, scss/main.css */
.image {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/pochmurno_z_przejaśnieniem.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; }

/* line 75, scss/main.css */
.weatherInfo {
  width: 0;
  min-width: 100%;
  display: inline-block;
  position: absolute;
  height: 35em;
  top: 23%;
  margin: 0 auto;
  background: #444444;
  background: -moz-linear-gradient(top, #444444 0%, #272727 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #444444), color-stop(100%, #272727));
  background: -webkit-linear-gradient(top, #444444 0%, #272727 100%);
  background: -o-linear-gradient(top, #444444 0%, #272727 100%);
  background: -ms-linear-gradient(top, #444444 0%, #272727 100%);
  background: linear-gradient(to bottom, #444444 0%, #272727 100%);
  -webkit-box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.75);
  right: 0;
  left: 0; }

@media (min-width: 450px) {
  /* line 96, scss/main.css */
  .weatherInfo {
    min-width: 75%;
    margin: 5em auto; } }

@media (min-width: 900px) {
  /* line 100, scss/main.css */
  .weatherInfo {
    width: 47em;
    height: 27em;
    min-width: 0; } }

/* line 105, scss/main.css */
#weather {
  width: 400px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
  margin-top: calc(50% - 120px); }

@media (min-width: 450px) {
  /* line 112, scss/main.css */
  #weather {
    width: 500px;
    margin-top: calc(50% - 270px); } }

/* line 115, scss/main.css */
#weather .textinfo {
  display: inline-block;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 50px;
  margin-left: 15px; }

/* line 123, scss/main.css */
#weather .textinfo .date,
#weather .textinfo .weatherCurrently {
  font-size: 15px;
  color: #6b6b6b;
  float: left; }

/* line 128, scss/main.css */
#weather .textinfo .city {
  font-size: 26px;
  color: #b4b4b4;
  float: left; }

/* line 132, scss/main.css */
#weather .space,
#weather .spaceSecond {
  letter-spacing: 1px;
  position: absolute;
  color: black;
  top: 180px;
  max-width: 100%;
  left: 0;
  display: flex;
  overflow: hidden; }

/* line 142, scss/main.css */
#weather .spaceSecond {
  top: 280px; }

/* line 144, scss/main.css */
#weather .tempDeg {
  background: #363636;
  background: -moz-linear-gradient(top, #363636 0%, #252525 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #363636), color-stop(100%, #252525));
  background: -webkit-linear-gradient(top, #363636 0%, #252525 100%);
  background: -o-linear-gradient(top, #363636 0%, #252525 100%);
  background: -ms-linear-gradient(top, #363636 0%, #252525 100%);
  background: linear-gradient(to bottom, #363636 0%, #252525 100%);
  -webkit-box-shadow: 0px 0px 37px -7px black;
  -moz-box-shadow: 0px 0px 37px -7px black;
  box-shadow: 0px 0px 37px -7px black;
  display: inline-block;
  float: right;
  width: 180px;
  height: 180px;
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 100px;
  font-weight: 300;
  padding-top: calc(50% - 290px); }

/* line 167, scss/main.css */
#weather .tempDeg sup {
  font-size: 34px; }

/* line 169, scss/main.css */
#weather h2,
#weather .icon {
  margin: -15px 0 55px 85px;
  color: white;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15); }

/* line 177, scss/main.css */
#weather .forecastIcon {
  margin: -15px 0 55px 85px;
  color: white;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15); }

/* line 184, scss/main.css */
#weather h2 {
  cursor: pointer;
  margin: -10px 0 0 0; }

/* line 187, scss/main.css */
#weather ul {
  margin: 0;
  padding: 0; }

/* line 190, scss/main.css */
#weather ul .wi-wind:before {
  content: "\f0b1"; }

/* line 192, scss/main.css */
#weather ul .wi-towards-n {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg); }

/* line 198, scss/main.css */
#weather ul .wi-towards-nne {
  -webkit-transform: rotate(23deg);
  -moz-transform: rotate(23deg);
  -ms-transform: rotate(23deg);
  -o-transform: rotate(23deg);
  transform: rotate(23deg); }

/* line 204, scss/main.css */
#weather ul .wi-towards-ne {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

/* line 210, scss/main.css */
#weather ul .wi-towards-ene {
  -webkit-transform: rotate(68deg);
  -moz-transform: rotate(68deg);
  -ms-transform: rotate(68deg);
  -o-transform: rotate(68deg);
  transform: rotate(68deg); }

/* line 216, scss/main.css */
#weather ul .wi-towards-e {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

/* line 222, scss/main.css */
#weather ul .wi-towards-ese {
  -webkit-transform: rotate(113deg);
  -moz-transform: rotate(113deg);
  -ms-transform: rotate(113deg);
  -o-transform: rotate(113deg);
  transform: rotate(113deg); }

/* line 228, scss/main.css */
#weather ul .wi-towards-se {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

/* line 234, scss/main.css */
#weather ul .wi-towards-sse {
  -webkit-transform: rotate(158deg);
  -moz-transform: rotate(158deg);
  -ms-transform: rotate(158deg);
  -o-transform: rotate(158deg);
  transform: rotate(158deg); }

/* line 240, scss/main.css */
#weather ul .wi-towards-s {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

/* line 246, scss/main.css */
#weather ul .wi-towards-ssw {
  -webkit-transform: rotate(203deg);
  -moz-transform: rotate(203deg);
  -ms-transform: rotate(203deg);
  -o-transform: rotate(203deg);
  transform: rotate(203deg); }

/* line 252, scss/main.css */
#weather ul .wi-towards-sw {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg); }

/* line 258, scss/main.css */
#weather ul .wi-towards-wsw {
  -webkit-transform: rotate(248deg);
  -moz-transform: rotate(248deg);
  -ms-transform: rotate(248deg);
  -o-transform: rotate(248deg);
  transform: rotate(248deg); }

/* line 264, scss/main.css */
#weather ul .wi-towards-w {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg); }

/* line 270, scss/main.css */
#weather ul .wi-towards-wnw {
  -webkit-transform: rotate(293deg);
  -moz-transform: rotate(293deg);
  -ms-transform: rotate(293deg);
  -o-transform: rotate(293deg);
  transform: rotate(293deg); }

/* line 276, scss/main.css */
#weather ul .wi-towards-nw {
  -webkit-transform: rotate(313deg);
  -moz-transform: rotate(313deg);
  -ms-transform: rotate(313deg);
  -o-transform: rotate(313deg);
  transform: rotate(313deg); }

/* line 282, scss/main.css */
#weather ul .wi-towards-nnw {
  -webkit-transform: rotate(336deg);
  -moz-transform: rotate(336deg);
  -ms-transform: rotate(336deg);
  -o-transform: rotate(336deg);
  transform: rotate(336deg); }

/* line 288, scss/main.css */
#weather ul .wi-strong-wind:before {
  content: "\f050"; }

/* line 290, scss/main.css */
#weather li {
  color: white;
  padding: 10px 10px;
  display: inline-block; }

/* line 294, scss/main.css */
#weather li .liText {
  float: right;
  padding: 5px 0 0 10px;
  font-weight: 500;
  color: #b4b4b4; }

/* line 299, scss/main.css */
#weather .currently {
  margin: 0 20px; }

/* line 301, scss/main.css */
#weather .update {
  opacity: 0.3; }

/* line 303, scss/main.css */
#weather i {
  color: #6b6b6b;
  font-family: weather;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0; }

/* line 310, scss/main.css */
#weather p {
  color: #b4b4b4; }

/* line 312, scss/main.css */
#weather p i {
  font-size: 35px; }

/* line 314, scss/main.css */
#weather .wi {
  display: inline-block;
  font-family: 'weathericons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 322, scss/main.css */
#weather .wi-yahoo-0:before {
  content: "\f056"; }

/* line 324, scss/main.css */
#weather .wi-yahoo-1:before {
  content: "\f00e"; }

/* line 326, scss/main.css */
#weather .wi-yahoo-2:before {
  content: "\f073"; }

/* line 328, scss/main.css */
#weather .wi-yahoo-3:before {
  content: "\f01e"; }

/* line 330, scss/main.css */
#weather .wi-yahoo-4:before {
  content: "\f01e"; }

/* line 332, scss/main.css */
#weather .wi-yahoo-5:before {
  content: "\f017"; }

/* line 334, scss/main.css */
#weather .wi-yahoo-6:before {
  content: "\f017"; }

/* line 336, scss/main.css */
#weather .wi-yahoo-7:before {
  content: "\f017"; }

/* line 338, scss/main.css */
#weather .wi-yahoo-8:before {
  content: "\f015"; }

/* line 340, scss/main.css */
#weather .wi-yahoo-9:before {
  content: "\f01a"; }

/* line 342, scss/main.css */
#weather .wi-yahoo-10:before {
  content: "\f015"; }

/* line 344, scss/main.css */
#weather .wi-yahoo-11:before {
  content: "\f01a"; }

/* line 346, scss/main.css */
#weather .wi-yahoo-12:before {
  content: "\f01a"; }

/* line 348, scss/main.css */
#weather .wi-yahoo-13:before {
  content: "\f01b"; }

/* line 350, scss/main.css */
#weather .wi-yahoo-14:before {
  content: "\f00a"; }

/* line 352, scss/main.css */
#weather .wi-yahoo-15:before {
  content: "\f064"; }

/* line 354, scss/main.css */
#weather .wi-yahoo-16:before {
  content: "\f01b"; }

/* line 356, scss/main.css */
#weather .wi-yahoo-17:before {
  content: "\f015"; }

/* line 358, scss/main.css */
#weather .wi-yahoo-18:before {
  content: "\f017"; }

/* line 360, scss/main.css */
#weather .wi-yahoo-19:before {
  content: "\f063"; }

/* line 362, scss/main.css */
#weather .wi-yahoo-20:before {
  content: "\f014"; }

/* line 364, scss/main.css */
#weather .wi-yahoo-21:before {
  content: "\f021"; }

/* line 366, scss/main.css */
#weather .wi-yahoo-22:before {
  content: "\f062"; }

/* line 368, scss/main.css */
#weather .wi-yahoo-23:before {
  content: "\f050"; }

/* line 370, scss/main.css */
#weather .wi-yahoo-24:before {
  content: "\f050"; }

/* line 372, scss/main.css */
#weather .wi-yahoo-25:before {
  content: "\f076"; }

/* line 374, scss/main.css */
#weather .wi-yahoo-26:before {
  content: "\f013"; }

/* line 376, scss/main.css */
#weather .wi-yahoo-27:before {
  content: "\f031"; }

/* line 378, scss/main.css */
#weather .wi-yahoo-28:before {
  content: "\f002"; }

/* line 380, scss/main.css */
#weather .wi-yahoo-29:before {
  content: "\f031"; }

/* line 382, scss/main.css */
#weather .wi-yahoo-30:before {
  content: "\f002"; }

/* line 384, scss/main.css */
#weather .wi-yahoo-31:before {
  content: "\f02e"; }

/* line 386, scss/main.css */
#weather .wi-yahoo-32:before {
  content: "\f00d"; }

/* line 388, scss/main.css */
#weather .wi-yahoo-33:before {
  content: "\f083"; }

/* line 390, scss/main.css */
#weather .wi-yahoo-34:before {
  content: "\f00c"; }

/* line 392, scss/main.css */
#weather .wi-yahoo-35:before {
  content: "\f017"; }

/* line 394, scss/main.css */
#weather .wi-yahoo-36:before {
  content: "\f072"; }

/* line 396, scss/main.css */
#weather .wi-yahoo-37:before {
  content: "\f00e"; }

/* line 398, scss/main.css */
#weather .wi-yahoo-38:before {
  content: "\f00e"; }

/* line 400, scss/main.css */
#weather .wi-yahoo-39:before {
  content: "\f00e"; }

/* line 402, scss/main.css */
#weather .wi-yahoo-40:before {
  content: "\f01a"; }

/* line 404, scss/main.css */
#weather .wi-yahoo-41:before {
  content: "\f064"; }

/* line 406, scss/main.css */
#weather .wi-yahoo-42:before {
  content: "\f01b"; }

/* line 408, scss/main.css */
#weather .wi-yahoo-43:before {
  content: "\f064"; }

/* line 410, scss/main.css */
#weather .wi-yahoo-44:before {
  content: "\f00c"; }

/* line 412, scss/main.css */
#weather .wi-yahoo-45:before {
  content: "\f00e"; }

/* line 414, scss/main.css */
#weather .wi-yahoo-46:before {
  content: "\f01b"; }

/* line 416, scss/main.css */
#weather .wi-yahoo-47:before {
  content: "\f00e"; }

/* line 418, scss/main.css */
#weather .wi-yahoo-3200:before {
  content: "\f077"; }

/* line 420, scss/main.css */
#weather .wi-sunrise:before {
  content: "\f051"; }

/* line 422, scss/main.css */
#weather .wi-sunset:before {
  content: "\f052"; }

/* line 425, scss/main.css */
.geolocation {
  cursor: pointer;
  margin: 15px auto;
  width: 150px;
  padding: 5px 15px;
  color: #b4b4b4;
  border: 0;
  height: 41px;
  background: #363636;
  background-image: -moz-linear-gradient(top, #363636 0%, #252525 100%);
  background-image: -webkit-gradient(left top, left bottom, color-stop(0%, #363636), color-stop(100%, #252525));
  background-image: -webkit-linear-gradient(top, #363636 0%, #252525 100%);
  background-image: -o-linear-gradient(top, #363636 0%, #252525 100%);
  background-image: -ms-linear-gradient(top, #363636 0%, #252525 100%);
  background-image: linear-gradient(to bottom, #363636 0%, #252525 100%);
  -webkit-box-shadow: 0px 0px 37px -7px black;
  -moz-box-shadow: 0px 0px 37px -7px black;
  box-shadow: 0px 0px 37px -7px black;
  top: 135px;
  position: absolute;
  margin: 5px 0; }

/* line 447, scss/main.css */
.geolocation:hover {
  background: #252525;
  background-image: -moz-linear-gradient(top, #252525 0%, #363636 100%);
  background-image: -webkit-gradient(left top, left bottom, color-stop(0%, #252525), color-stop(100%, #363636));
  background-image: -webkit-linear-gradient(top, #252525 0%, #363636 100%);
  background-image: -o-linear-gradient(top, #252525 0%, #363636 100%);
  background-image: -ms-linear-gradient(top, #252525 0%, #363636 100%);
  background-image: linear-gradient(to bottom, #252525 0%, #363636 100%);
  -webkit-box-shadow: 0px 0px 37px -7px black;
  -moz-box-shadow: 0px 0px 37px -7px black;
  box-shadow: 0px 0px 37px -7px black; }

/* line 459, scss/main.css */
#weeklyWeather {
  left: 150px; }
