@charset "UTF-8";
/* line 2, scss/main.css */
* {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px; }

/* line 9, scss/main.css */
.container {
  max-width: 1170px;
  margin: 0 auto; }

/* line 13, scss/main.css */
.row::after, .row::before {
  display: table;
  content: '';
  clear: both; }

/* line 18, scss/main.css */
.col-1 {
  width: 8.33333%; }

/* line 21, scss/main.css */
.col-2 {
  width: 16.66667%; }

/* line 24, scss/main.css */
.col-3 {
  width: 25%; }

/* line 27, scss/main.css */
.col-4 {
  width: 33.33333%; }

/* line 30, scss/main.css */
.col-5 {
  width: 41.66667%; }

/* line 33, scss/main.css */
.col-6 {
  width: 50%; }

/* line 36, scss/main.css */
.col-7 {
  width: 58.33333%; }

/* line 39, scss/main.css */
.col-8 {
  width: 66.66667%; }

/* line 42, scss/main.css */
.col-9 {
  width: 75%; }

/* line 45, scss/main.css */
.col-10 {
  width: 83.33333%; }

/* line 48, scss/main.css */
.col-11 {
  width: 91.66667%; }

/* line 51, scss/main.css */
.col-12 {
  width: 100%; }

/* line 54, scss/main.css */
[class*='col-'] {
  float: left;
  min-height: 1px;
  border: 1px solid red;
  padding: 10px; }

/* line 60, scss/main.css */
.image {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/pochmurno_z_przejaśnieniem.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; }

/* line 68, scss/main.css */
.weatherInfo {
  width: 0;
  min-width: 100%;
  display: inline-block;
  position: absolute;
  height: 25em;
  top: 23%;
  margin: 0 auto;
  background: white;
  opacity: 0.6;
  right: 0;
  left: 0; }

@media (min-width: 450px) {
  /* line 81, scss/main.css */
  .weatherInfo {
    min-width: 75%;
    margin: 5em auto; } }

@media (min-width: 900px) {
  /* line 85, scss/main.css */
  .weatherInfo {
    width: 45em;
    height: 30em;
    min-width: 0; } }

/* line 90, scss/main.css */
.weatherInfo:hover {
  opacity: 0.8; }
