/* line 1, scss/main.css */
* {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px; }

/* line 8, scss/main.css */
.container {
  max-width: 1170px;
  margin: 0 auto; }

/* line 12, scss/main.css */
.row::after, .row::before {
  display: table;
  content: '';
  clear: both; }

/* line 17, scss/main.css */
.col-1 {
  width: 8.33333%; }

/* line 20, scss/main.css */
.col-2 {
  width: 16.66667%; }

/* line 23, scss/main.css */
.col-3 {
  width: 25%; }

/* line 26, scss/main.css */
.col-4 {
  width: 33.33333%; }

/* line 29, scss/main.css */
.col-5 {
  width: 41.66667%; }

/* line 32, scss/main.css */
.col-6 {
  width: 50%; }

/* line 35, scss/main.css */
.col-7 {
  width: 58.33333%; }

/* line 38, scss/main.css */
.col-8 {
  width: 66.66667%; }

/* line 41, scss/main.css */
.col-9 {
  width: 75%; }

/* line 44, scss/main.css */
.col-10 {
  width: 83.33333%; }

/* line 47, scss/main.css */
.col-11 {
  width: 91.66667%; }

/* line 50, scss/main.css */
.col-12 {
  width: 100%; }

/* line 53, scss/main.css */
[class*='col-'] {
  float: left;
  min-height: 1px;
  border: 1px solid red;
  padding: 10px; }
