.image {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/pochmurno_z_przejaśnieniem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.weatherInfo {
    width: 0;
    min-width: 100%;
    display: inline-block;
    position: absolute;
    height: 25em;
    top: 23%;
    margin: 0 auto;
    background: white;
    opacity: 0.6;
    right: 0;
    left: 0;
    @media (min-width: 450px) {
        min-width: 75%;
        margin: 5em auto;
    }
    @media (min-width: 900px) {
        width: 45em;
        height: 30em;
        min-width: 0;
    }
}

.weatherInfo:hover {
    opacity: 0.8;
}